<!-- <p>
  video works!
</p>
 -->

<div class="container">
  <div class="row">

    <div class="aks">
 
    <div class="col-md-6 aks" >
<div class="thumbnail th">


      <div class="row">

        <div class="col-md-4">
            <img [src]="pgl1.image" class="avatar" >
        </div>
        <div class="col-md-4">
            <p><b>{{pgl1.text}}</b></p>
            <p>{{pgl1.text1}}</p>
        </div>
        <div class="col-md-4">
              <button class="button">{{pgl1.button1}}</button>
        </div>
      </div>

<br>
      <div class="row">
            <div class="col-md-4">
                <img [src]="pgl2.image" class="device"> 
            </div>
            <div class="col-md-4">
                <p><b>{{pgl2.text}}</b></p>
 	              <p>{{pgl2.text1}}</p>
            </div>
            <div class="col-md-4">
                  <button class="button">{{pgl2.button1}}</button>
            </div>
      </div>
<br>  

      <div class="row">
            <div class="col-md-4">
                <img [src]="pgl3.image">
            </div>
            <div class="col-md-4">
                    <p><b>{{pgl3.text}}</b></p>
                    <p>{{pgl3.text1}}</p>
            </div>
            <div class="col-md-4">
                      <button class="button">{{pgl3.button1}}</button>
            </div>
      </div>

    </div>

</div>
</div>

  
    <div class="col-md-6 aks ">
    <div class="thumbnail tr">
      <b>Recent updates</b>
      <p>Click on the button below to read the full article.</p>
      <br>
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn info" data-toggle="collapse" data-target="#demo1"><b>1</b></button><br><br>

       </div>
            <div class="col-md-11">
              <p><b>{{pgl4.text}}</b> </p>
            <div id="demo1" class="collapse">
              {{pgl4.text1}}
            </div>

  </div>
</div>
      <div class="row">
   <div class="col-md-1">
          <button type="button" class="btn info" data-toggle="collapse" data-target="#demo2"><b>2</b></button><br><br>
        </div>
         <div class="col-md-11">
              <p><b>{{pgl5.text}}</b> </p>
           <div id="demo2" class="collapse">
   {{pgl5.text1}}
  
 
</div>
</div>
</div>

<div class="row">
 <div class="col-md-1">
          <button type="button" class="btn info" data-toggle="collapse" data-target="#demo3"><b>3</b></button><br><br>
</div>
<div class="col-md-11">
              <p><b>{{pgl6.text}}</b> </p>
           <div id="demo3" class="collapse">
 {{pgl6.text1}}
  </div>

 


          </div>
        </div>
      </div>
    </div>
    </div>

    

  </div>

  


<!-- 



<div class="container">

  <h4>Refer the videos </h4><table>
  <tr>
    <td>
      <img src="./assets/img_tour.jpg" class="avatar"/><br>
    </td>
    <td>
      <p><b>Add Places</b></p>
      <p>Browse travel packages.</p>

    </td>
 <td>
<button class="button">Play Video</button>
</td>
 </tr>
 <tr>
 	<td>
 	<img src="./assets/img_food.jpg" class="device"/><br>
 </td>
 <td>
 	<p><b>Add Food</b></p>
 	<p>Browse the different food dishes.</p>
 </td>
 <td>
 	<button class="button">Play Video</button>
 </td>
 <tr>
    <td>
      <img src="./assets/img_healthcare.jpg" class="healthcare"/><br>
    </td>
    <td>
      <p><b>Add HealthServices</b></p>
      <p>Browse different health centres.</p>
    </td>
    <td>
<button class="button">Play Video</button>
</td>
</tr>
</table>
</div> 
<br>
<br>
 -->