<!-- <p>
  text works!
</p>
 -->

 <!-- <button class="btn info">1</button><br><br>

<button class="btn info">2</button><br><br>
<button class="btn info">3</button><br><br>
<button class="btn info">4</button><br><br> -->


<div class="container">
	

	  <div class="row">
	   <div class="col-md-8">
	   

  <h2>Recent updates</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <button type="button" class="btn info" data-toggle="collapse" data-target="#demo1">1</button><br><br> <div id="demo1" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <button type="button" class="btn info" data-toggle="collapse" data-target="#demo2">2</button>  <br><br> 
  <div id="demo2" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <button type="button" class="btn info" data-toggle="collapse" data-target="#demo3">3</button>
  <br><br> <div id="demo3" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
  <button type="button" class="btn info" data-toggle="collapse" data-target="#demo4">4</button>
  <br><br> <div id="demo4" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
<div class="row">
	<br>
	<br>
	<p> A brief introduction to the cultural aspects.</p>
</div>
</div>

 
</div>
