.images:hover{

  width:250px;
  height: 180px;
  margin: 10px ;
  position: 50px;
  border-radius: 12px; 
  transition : 0.3s ease;
}
img{

  width:230px;
  height: 150px;
  margin: 10px ;
  position: 20px;
  border-radius: 8px; 

}

.image1{
  left: 62px;
  top: 1px;
  position: relative;
margin: 20px ;
}


p  {
    color: red;
    font-family: arial;
    font-size: 120%;
}

.akshaya{

  text-align: center;
}

.pk{
  text-align: center;
}

.th{
   
    
    background-color: orange;
    box-shadow: 0px 0px 100px gray;
   }

   
.ff1
{
  background: lavender;
  margin: 20px;
  position: 50px;
}
